body {
	margin: 0px auto; padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; font-size: 12px;
}
#wrap {
	background: rgb(255, 255, 255); margin: 0px auto; padding: 0px; position: relative;
}
a {
	color: rgb(34, 85, 170); text-decoration: underline;
}
a:visited {
	color: rgb(34, 85, 170); text-decoration: underline;
}
a:hover {
	color: rgb(34, 85, 170); text-decoration: none;
}
a img {
	border: currentColor;
}
a:focus {
	
}
a:hover {
	
}
a:active {
	
}
#headerbg {
	background: url("images/header.png") repeat-x;
}
#header {
	margin: 0px auto; padding: 0px; width: 960px; height: 80px; color: rgb(255, 255, 255); overflow: hidden;
}
#header h1 {
	margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-family: Tahoma, Arial, Verdana; font-size: 20px; font-weight: normal; text-decoration: none;
}
#header h1 a {
	margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-family: Tahoma, Arial, Verdana; font-size: 20px; font-weight: normal; text-decoration: none;
}
#header h1 a:visited {
	margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-family: Tahoma, Arial, Verdana; font-size: 20px; font-weight: normal; text-decoration: none;
}
#header h4 {
	margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-family: Tahoma, Arial, Verdana; font-size: 20px; font-weight: normal; text-decoration: none;
}
#header h4 a {
	margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-family: Tahoma, Arial, Verdana; font-size: 20px; font-weight: normal; text-decoration: none;
}
#header h4 a:visited {
	margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-family: Tahoma, Arial, Verdana; font-size: 20px; font-weight: normal; text-decoration: none;
}
#header h1 a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
#header h4 a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.headertext {
	margin: 0px; padding: 20px 0px 0px;
}
.headerleft {
	margin: 0px; padding: 0px; width: 450px; float: left;
}
.headerleft p {
	margin: 0px; padding: 0px 0px 5px; color: rgb(255, 255, 255); line-height: 20px; font-family: Tahoma, Arial, Verdana; font-size: 14px; font-style: italic;
}
.headerleft a img {
	margin: 0px; padding: 0px; border: currentColor;
}
.headerright {
	margin: 0px; padding: 10px 0px 0px; width: 500px; float: right;
}
.headerright p {
	margin: 0px; padding: 0px 0px 5px; color: rgb(255, 255, 255);
}
.headerright a img {
	margin: 0px; padding: 0px; border: currentColor;
}
.headerright a {
	color: rgb(255, 255, 255); font-size: 11px; font-weight: bold; text-decoration: none;
}
.headerright a:visited {
	color: rgb(255, 255, 255); font-size: 11px; font-weight: bold; text-decoration: none;
}
.headerright a:hover {
	text-decoration: underline;
}
.headerright a img {
	margin: 0px; padding: 0px; border: currentColor;
}
.headerright ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
.headerright li {
	margin: 0px; padding: 0px; list-style-type: none;
}
#nav {
	margin: 0px; padding: 20px 0px 0px; float: right;
}
#nav ul {
	list-style: none; margin: 0px; padding: 0px; float: left;
}
#nav li {
	list-style: none; margin: 0px; padding: 0px; float: left;
}
#nav li a {
	background: url("images/nav.png"); margin: 0px 10px 0px 0px; padding: 8px 10px; border: 1px solid rgb(85, 85, 85); color: rgb(255, 255, 255); text-transform: uppercase; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: bold; display: block; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
#nav li a:link {
	background: url("images/nav.png"); margin: 0px 10px 0px 0px; padding: 8px 10px; border: 1px solid rgb(85, 85, 85); color: rgb(255, 255, 255); text-transform: uppercase; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: bold; display: block; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
#nav li a:hover {
	background: url("images/navhov.png"); border: 1px solid rgb(85, 85, 85); color: rgb(255, 255, 255); text-decoration: none; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
#nav li a:active {
	background: url("images/navhov.png"); border: 1px solid rgb(85, 85, 85); color: rgb(255, 255, 255); text-decoration: none; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
#nav li li a {
	background: rgb(119, 119, 119); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(85, 85, 85) rgb(85, 85, 85); margin: 0px; padding: 5px 10px; width: 130px; color: rgb(255, 255, 255); text-transform: none; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: normal; float: none; -moz-border-radius: 0px; -khtml-border-radius: 0px; -webkit-border-radius: 0px;
}
#nav li li a:link {
	background: rgb(119, 119, 119); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(85, 85, 85) rgb(85, 85, 85); margin: 0px; padding: 5px 10px; width: 130px; color: rgb(255, 255, 255); text-transform: none; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: normal; float: none; -moz-border-radius: 0px; -khtml-border-radius: 0px; -webkit-border-radius: 0px;
}
#nav li li a:visited {
	background: rgb(119, 119, 119); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(85, 85, 85) rgb(85, 85, 85); margin: 0px; padding: 5px 10px; width: 130px; color: rgb(255, 255, 255); text-transform: none; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: normal; float: none; -moz-border-radius: 0px; -khtml-border-radius: 0px; -webkit-border-radius: 0px;
}
#nav li li a:hover {
	background: rgb(136, 136, 136); color: rgb(255, 255, 255);
}
#nav li li a:active {
	background: rgb(136, 136, 136); color: rgb(255, 255, 255);
}
#nav li ul {
	margin: 0px; padding: 0px; left: -999em; width: 150px; height: auto; position: absolute; z-index: 9999; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px;
}
#nav li li {
	
}
#nav li ul a {
	width: 120px;
}
#nav li ul a:hover {
	
}
#nav li ul a:active {
	
}
#nav li ul ul {
	margin: -25px 0px 0px 151px;
}
#nav li:hover ul ul {
	left: -999em;
}
#nav li:hover ul ul ul {
	left: -999em;
}
#nav li.sfhover ul ul {
	left: -999em;
}
#nav li.sfhover ul ul ul {
	left: -999em;
}
#nav li:hover ul {
	left: auto;
}
#nav li li:hover ul {
	left: auto;
}
#nav li li li:hover ul {
	left: auto;
}
#nav li.sfhover ul {
	left: auto;
}
#nav li li.sfhover ul {
	left: auto;
}
#nav li li li.sfhover ul {
	left: auto;
}
#nav li:hover {
	position: static;
}
#nav li.sfhover {
	position: static;
}
#nav .current_page_item a {
	background: url("images/navhov.png");
}
#subnavbarbg {
	background: rgb(136, 136, 136);
}
#subnavbar {
	margin: 0px auto; padding: 0px; width: 960px; hefight: 30px;
}
.subnavbarleft {
	margin: 0px; padding: 0px; width: 790px; float: left;
}
.subnavbarright {
	margin: 0px; padding: 7px 0px 0px; width: 170px; text-align: right; float: right;
}
.subnavbarright a {
	color: rgb(255, 255, 255); text-transform: uppercase; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: bold; text-decoration: none;
}
.subnavbarright a:visited {
	color: rgb(255, 255, 255); text-transform: uppercase; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: bold; text-decoration: none;
}
.subnavbarright a:hover {
	color: rgb(255, 255, 255); text-decoration: underline;
}
#subnavbar p {
	margin: 0px; padding: 8px 0px 0px 15px; text-transform: uppercase;
}
#subnav {
	margin: 0px; padding: 0px;
}
#subnav ul {
	list-style: none; margin: 0px; padding: 0px; float: left;
}
#subnav li {
	list-style: none; margin: 0px; padding: 0px; float: left;
}
#subnav li a {
	margin: 0px; padding: 8px 15px; color: rgb(255, 255, 255); text-transform: uppercase; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: bold; text-decoration: none; display: block;
}
#subnav li a:link {
	margin: 0px; padding: 8px 15px; color: rgb(255, 255, 255); text-transform: uppercase; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: bold; text-decoration: none; display: block;
}
#subnav li a:visited {
	margin: 0px; padding: 8px 15px; color: rgb(255, 255, 255); text-transform: uppercase; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: bold; text-decoration: none; display: block;
}
#subnav li a:hover {
	background: rgb(119, 119, 119); color: rgb(255, 255, 255); text-decoration: none;
}
#subnav li a:active {
	background: rgb(119, 119, 119); color: rgb(255, 255, 255); text-decoration: none;
}
#subnav li li a {
	background: rgb(119, 119, 119); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(85, 85, 85) rgb(85, 85, 85); margin: 0px; padding: 5px 10px; width: 130px; color: rgb(255, 255, 255); text-transform: none; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: normal; float: none; -moz-border-radius: 0px; -khtml-border-radius: 0px; -webkit-border-radius: 0px;
}
#subnav li li a:link {
	background: rgb(119, 119, 119); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(85, 85, 85) rgb(85, 85, 85); margin: 0px; padding: 5px 10px; width: 130px; color: rgb(255, 255, 255); text-transform: none; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: normal; float: none; -moz-border-radius: 0px; -khtml-border-radius: 0px; -webkit-border-radius: 0px;
}
#subnav li li a:visited {
	background: rgb(119, 119, 119); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(85, 85, 85) rgb(85, 85, 85); margin: 0px; padding: 5px 10px; width: 130px; color: rgb(255, 255, 255); text-transform: none; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: normal; float: none; -moz-border-radius: 0px; -khtml-border-radius: 0px; -webkit-border-radius: 0px;
}
#subnav li li a:hover {
	background: rgb(136, 136, 136); color: rgb(255, 255, 255);
}
#subnav li li a:active {
	background: rgb(136, 136, 136); color: rgb(255, 255, 255);
}
#subnav li ul {
	margin: 0px; padding: 0px; left: -999em; width: 150px; height: auto; position: absolute; z-index: 9999;
}
#subnav li li {
	
}
#subnav li ul a {
	width: 120px;
}
#subnav li ul a:hover {
	
}
#subnav li ul a:active {
	
}
#subnav li ul ul {
	margin: -25px 0px 0px 151px;
}
#subnav li:hover ul ul {
	left: -999em;
}
#subnav li:hover ul ul ul {
	left: -999em;
}
#subnav li.sfhover2 ul ul {
	left: -999em;
}
#subnav li.sfhover2 ul ul ul {
	left: -999em;
}
#subnav li:hover ul {
	left: auto;
}
#subnav li li:hover ul {
	left: auto;
}
#subnav li li li:hover ul {
	left: auto;
}
#subnav li.sfhover2 ul {
	left: auto;
}
#subnav li li.sfhover2 ul {
	left: auto;
}
#subnav li li li.sfhover ul {
	left: auto;
}
#subnav li:hover {
	position: static;
}
#subnav li.sfhover {
	position: static;
}
.rsslink {
	background: url("images/rss.png") no-repeat left; margin: 0px 0px 0px 10px; padding: 3px 0px 3px 16px;
}
#content {
	margin: 0px auto; padding: 20px 0px 0px; width: 960px; line-height: 18px;
}
#contentleft {
	margin: 0px; padding: 10px 0px 5px; width: 670px; float: left;
}
#contentright {
	margin: 0px; padding: 10px 0px 0px; width: 670px; float: right;
}
#contentsplit {
	margin: 0px; padding: 10px 0px 5px 20px; width: 500px; float: left;
}
#contentfull {
	margin: 0px; padding: 10px 0px 0px; width: 960px; float: left;
}
#content a img {
	border: currentColor;
}
#content blockquote {
	background: rgb(244, 244, 244); margin: 0px 25px 15px; padding: 10px 20px 0px 15px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
#content blockquote p {
	margin: 0px; padding: 0px 0px 15px;
}
#content img.wp-smiley {
	margin: 0px; padding: 0px; border: currentColor; float: none;
}
#content img.wp-wink {
	margin: 0px; padding: 0px; border: currentColor; float: none;
}
.breadcrumb {
	background: rgb(244, 244, 244); margin: 0px 0px 10px; padding: 5px 10px; font-size: 11px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
.post {
	margin: 0px 0px 40px; padding: 0px;
}
.post p {
	margin: 0px; padding: 0px 0px 15px;
}
.post ul {
	margin: 0px; padding: 0px 0px 15px; list-style-type: square;
}
.post ul li {
	margin: 0px 0px 0px 20px; padding: 0px; list-style-type: square;
}
.post ul ul {
	margin: 0px; padding: 0px; list-style-type: square;
}
.post ol {
	margin: 0px; padding: 0px 0px 15px;
}
.post ol li {
	margin: 0px 0px 0px 20px; padding: 0px;
}
.time {
	background: url("images/icon_time.png") no-repeat left top; margin: 0px 0px 0px 3px; padding: 0px 0px 0px 18px;
}
.icomment {
	background: url("images/icon_comments.png") no-repeat left top; margin: 0px; padding: 0px 0px 0px 18px;
}
.tags {
	background: url("images/icon_tags.png") no-repeat left top; margin: 0px; padding: 0px 0px 0px 18px;
}
.category {
	margin: 0px; padding: 0px 0px 0px 18px;
}
.authorbox {
	background: rgb(244, 244, 244); margin: 20px 0px 0px; padding: 10px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
.authorbox p {
	margin: 0px; padding: 0px;
}
.authorbox img {
	background: rgb(255, 255, 255); margin: 0px 10px 0px 0px; padding: 3px; border: 1px solid rgb(204, 204, 204); float: left;
}
.postmeta {
	margin: 0px; padding: 5px 0px 0px; font-size: 12px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.comments {
	background: rgb(244, 244, 244); margin: 0px 0px 15px; padding: 10px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
.sticky {
	background: rgb(244, 244, 244); margin: 0px 0px 50px; padding: 20px 10px 0px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
.clear {
	clear: both;
}
.archive {
	margin: 0px; padding: 0px 20px 0px 0px; width: 225px; float: left;
}
#contentleft h1 {
	margin: 0px 0px 10px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 20px; font-weight: normal; text-decoration: none;
}
#contentleft h1 a {
	margin: 0px 0px 10px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 20px; font-weight: normal; text-decoration: none;
}
#contentleft h1 a:visited {
	margin: 0px 0px 10px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 20px; font-weight: normal; text-decoration: none;
}
#contentright h1 {
	margin: 0px 0px 10px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 20px; font-weight: normal; text-decoration: none;
}
#contentright h1 a {
	margin: 0px 0px 10px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 20px; font-weight: normal; text-decoration: none;
}
#contentright h1 a:visited {
	margin: 0px 0px 10px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 20px; font-weight: normal; text-decoration: none;
}
#contentfull h1 {
	margin: 0px 0px 10px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 20px; font-weight: normal; text-decoration: none;
}
#contentsplit h1 {
	margin: 0px 0px 10px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 20px; font-weight: normal; text-decoration: none;
}
#contentsplit h1 a {
	margin: 0px 0px 10px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 20px; font-weight: normal; text-decoration: none;
}
#contentsplit h1 a:visited {
	margin: 0px 0px 10px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 20px; font-weight: normal; text-decoration: none;
}
#contentleft h1 a:hover {
	color: rgb(34, 85, 170); text-decoration: none;
}
#contentright h1 a:hover {
	color: rgb(34, 85, 170); text-decoration: none;
}
#contentsplit h1 a:hover {
	color: rgb(34, 85, 170); text-decoration: none;
}
#contentleft h2 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 18px; font-weight: normal;
}
#contentright h2 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 18px; font-weight: normal;
}
#contentsplit h2 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 18px; font-weight: normal;
}
#contentfull h2 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 18px; font-weight: normal;
}
#contentleft h3 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 16px; font-weight: normal;
}
#contentright h3 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 16px; font-weight: normal;
}
#contentsplit h3 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 16px; font-weight: normal;
}
#contentfull h3 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 16px; font-weight: normal;
}
#contentleft h4 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 14px; font-weight: normal;
}
#contentright h4 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 14px; font-weight: normal;
}
#contentsplit h4 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 14px; font-weight: normal;
}
#contentfull h4 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 14px; font-weight: normal;
}
#contentleft h5 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 12px; font-weight: normal;
}
#contentright h5 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 12px; font-weight: normal;
}
#contentsplit h5 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 12px; font-weight: normal;
}
#contentfull h5 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 12px; font-weight: normal;
}
#contentleft h6 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 10px; font-weight: normal;
}
#contentright h6 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 10px; font-weight: normal;
}
#contentsplit h6 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 10px; font-weight: normal;
}
#contentfull h6 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 10px; font-weight: normal;
}
img.centered {
	padding: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; display: block;
}
img.alignnone {
	margin: 0px 0px 10px; padding: 0px; display: inline;
}
img.alignright {
	margin: 0px 0px 10px 10px; padding: 0px; display: inline;
}
img.alignleft {
	margin: 0px 10px 10px 0px; padding: 0px; display: inline;
}
.aligncenter {
	margin-right: auto; margin-bottom: 10px; margin-left: auto; display: block;
}
.alignright {
	margin: 0px 0px 10px 10px; float: right;
}
.alignleft {
	margin: 0px 10px 10px 0px; float: left;
}
.wp-caption {
	background: rgb(244, 244, 244); padding: 7px 2px; text-align: center; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
.wp-caption img {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
.wp-caption p.wp-caption-text {
	margin: 0px; padding: 0px; line-height: 12px; font-size: 11px; font-weight: normal;
}
#sidebar_main_left {
	margin: 0px; padding: 0px 0px 20px; width: 270px; float: left; display: inline;
}
#sidebar_main_right {
	margin: 0px; padding: 0px 0px 20px; width: 270px; float: right; display: inline;
}
#sidebar_split {
	margin: 0px; padding: 0px 0px 20px; width: 150px; float: left; display: inline;
}
#sidebar_main_left .widget {
	background: rgb(244, 244, 244); margin: 10px 0px 0px; padding: 10px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
#sidebar_main_right .widget {
	background: rgb(244, 244, 244); margin: 10px 0px 0px; padding: 10px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
#sidebar_split .widget {
	background: rgb(244, 244, 244); margin: 10px 0px 0px; padding: 10px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
#sidebar_main_left h4 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 14px; font-weight: normal; display: block;
}
#sidebar_main_right h4 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 14px; font-weight: normal; display: block;
}
#sidebar_split h4 {
	margin: 0px 0px 5px; padding: 0px; color: rgb(34, 34, 34); font-family: Tahoma, Arial, Verdana; font-size: 14px; font-weight: normal; display: block;
}
#sidebar_main_left p {
	margin: 0px; padding: 0px;
}
#sidebar_main_right p {
	margin: 0px; padding: 0px;
}
#sidebar_split p {
	margin: 0px; padding: 0px;
}
#sidebar_main_left a img {
	margin: 0px; padding: 0px; border: currentColor;
}
#sidebar_main_right a im {
	margin: 0px; padding: 0px; border: currentColor;
}
#sidebar_split a img {
	margin: 0px; padding: 0px; border: currentColor;
}
#sidebar_main_left ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
#sidebar_main_right ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
#sidebar_split ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
#sidebar_main_left ul li {
	margin: 0px 0px 5px; padding: 0px; list-style-type: none;
}
#sidebar_main_right ul li {
	margin: 0px 0px 5px; padding: 0px; list-style-type: none;
}
#sidebar_split ul li {
	margin: 0px 0px 5px; padding: 0px; list-style-type: none;
}
#sidebar_main_left ul ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
#sidebar_main_right ul ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
#sidebar_split ul ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
#sidebar_main_left ul li li {
	background: url("images/arrow.png") no-repeat left top; margin: 0px; padding: 0px 0px 5px 15px;
}
#sidebar_main_right ul li li {
	background: url("images/arrow.png") no-repeat left top; margin: 0px; padding: 0px 0px 5px 15px;
}
#sidebar_split ul li li {
	background: url("images/arrow.png") no-repeat left top; margin: 0px; padding: 0px 0px 5px 15px;
}
#sidebar_main_left ul li ul li {
	background: url("images/arrow.png") no-repeat left top; margin: 0px; padding: 0px 0px 5px 15px;
}
#sidebar_main_right ul li ul li {
	background: url("images/arrow.png") no-repeat left top; margin: 0px; padding: 0px 0px 5px 15px;
}
#sidebar_split ul li ul li {
	background: url("images/arrow.png") no-repeat left top; margin: 0px; padding: 0px 0px 5px 15px;
}
#cat {
	background: rgb(255, 255, 255); margin: 0px; padding: 1px; border: 1px solid rgb(221, 221, 221); width: 250px; color: rgb(102, 102, 102); font-family: Arial, Tahoma, Verdana; font-size: 11px; display: inline;
}
.enews {
	background: url("images/enews.png") no-repeat right top; margin: 0px; padding: 0px;
}
.twitter {
	background: url("images/twitter.png") no-repeat right top; margin: 0px; padding: 0px;
}
#searchform {
	margin: 0px; padding: 0px; color: rgb(17, 17, 17); font-family: Tahoma, Arial, Verdana; font-size: 14px; display: inline;
}
#s {
	background: rgb(255, 255, 255); margin: 5px 1px 0px 0px; padding: 3px 0px 3px 3px; border: 1px solid rgb(221, 221, 221); width: 175px; color: rgb(102, 102, 102); font-family: Arial, Tahoma, Verdana; font-size: 11px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
#searchsubmit {
	background: url("images/nav.png"); margin: 0px; padding: 1px 5px; border: 1px solid rgb(85, 85, 85); color: rgb(255, 255, 255); text-transform: uppercase; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: bold; text-decoration: none; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
#subscribe {
	margin: 0px; padding: 0px; overflow: hidden;
}
#subbox {
	background: rgb(255, 255, 255) !important; margin: 5px 5px 0px 0px; padding: 3px 0px 3px 3px; border: 1px solid rgb(221, 221, 221); width: 200px; color: rgb(102, 102, 102); font-family: Arial, Tahoma, Verdana; font-size: 11px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
#subbutton {
	background: url("images/nav.png"); margin: 0px; padding: 1px 5px; border: 1px solid rgb(85, 85, 85); color: rgb(255, 255, 255); text-transform: uppercase; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: bold; text-decoration: none; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
#footerbg {
	background: url("images/header.png") repeat-x; height: 80px;
}
#footer {
	margin: 0px auto; padding: 0px; width: 960px; line-height: 20px;
}
#footer p {
	margin: 0px; padding: 0px; color: rgb(255, 255, 255); text-transform: uppercase; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: bold;
}
#footer a {
	color: rgb(255, 255, 255); text-decoration: none;
}
#footer a:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
#footer a:hover {
	color: rgb(255, 255, 255); text-decoration: underline;
}
.footer-arrow {
	background: url("images/arrow_footer.png") no-repeat left; margin: 0px 0px 0px 5px; padding: 2px 0px 2px 18px;
}
.footer-rss {
	background: url("images/rss_footer.png") no-repeat left; margin: 0px 0px 0px 5px; padding: 2px 0px 2px 15px;
}
.footerleft {
	margin: 0px; padding: 20px 0px; width: 180px; float: left;
}
.footerright {
	margin: 0px; padding: 20px 0px; width: 750px; text-align: right; float: right;
}
#author {
	background: rgb(255, 255, 255) !important; margin: 5px 0px 0px; padding: 3px 0px 3px 5px; border: 1px solid rgb(221, 221, 221); width: 250px; color: rgb(51, 51, 51); font-size: 12px; font-weight: normal; display: inline; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
#email {
	background: rgb(255, 255, 255) !important; margin: 5px 0px 0px; padding: 3px 0px 3px 5px; border: 1px solid rgb(221, 221, 221); width: 250px; color: rgb(51, 51, 51); font-size: 12px; font-weight: normal; display: inline; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
#url {
	background: rgb(255, 255, 255) !important; margin: 5px 0px 0px; padding: 3px 0px 3px 5px; border: 1px solid rgb(221, 221, 221); width: 250px; color: rgb(51, 51, 51); font-size: 12px; font-weight: normal; display: inline; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
#comment {
	background: rgb(255, 255, 255); margin: 5px 0px 1px; padding: 5px; border: 1px solid rgb(221, 221, 221); width: 95%; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; font-size: 12px; font-weight: normal; display: inline; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
#submit {
	background: url("images/nav.png"); margin: 0px 0px 10px; padding: 2px 0px 2px 8px; border: 1px solid rgb(85, 85, 85); color: rgb(255, 255, 255); text-transform: uppercase; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: bold; display: block; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
.commentlist li ul li {
	font-size: 12px;
}
.commentlist li {
	font-weight: bold;
}
.commentlist li .avatar {
	background: rgb(255, 255, 255); margin: 0px 5px 0px 10px; padding: 3px; border: 1px solid rgb(221, 221, 221); float: right;
}
.commentlist cite {
	font-size: 12px; font-style: normal; font-weight: bold;
}
.commentlist cite a {
	font-size: 12px; font-style: normal; font-weight: bold;
}
.commentlist p {
	text-transform: none; font-weight: normal;
}
.commentmetadata {
	font-weight: normal;
}
#commentform input {
	margin: 5px 5px 1px 0px; padding: 2px; width: 170px;
}
#respond::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
#commentform p {
	margin: 5px 0px;
}
#commentform #submit {
	margin: 0px; float: left;
}
.alt {
	margin: 0px; padding: 10px;
}
.commentlist {
	margin: 0px; padding: 0px;
}
.commentlist ol {
	margin: 0px; padding: 10px;
}
.commentlist li {
	list-style: none; margin: 15px 0px 5px; padding: 10px 5px 10px 10px;
}
.commentlist li ul li {
	margin-right: -6px; margin-left: 10px;
}
.commentlist p {
	margin: 10px 5px 10px 0px; padding: 0px;
}
.children {
	margin: 0px; padding: 0px;
}
.nocomments {
	margin: 0px; padding: 0px; text-align: center;
}
.reply a {
	background: url("images/nav.png"); margin: 0px 0px 10px; padding: 3px 8px; border: 1px solid rgb(85, 85, 85); color: rgb(255, 255, 255); text-transform: uppercase; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: bold; text-decoration: none; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
.reply a:visited {
	background: url("images/nav.png"); margin: 0px 0px 10px; padding: 3px 8px; border: 1px solid rgb(85, 85, 85); color: rgb(255, 255, 255); text-transform: uppercase; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: bold; text-decoration: none; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
.reply a:hover {
	background: url("images/navhov.png"); margin: 0px 0px 10px; padding: 3px 8px; border: 1px solid rgb(85, 85, 85); color: rgb(255, 255, 255); text-transform: uppercase; font-family: Arial, Tahoma, Verdana; font-size: 11px; font-weight: bold; text-decoration: none; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
.commentmetadata {
	margin: 0px; font-size: 10px; display: block;
}
.navigation {
	text-align: center; margin-top: 10px; margin-bottom: 40px; display: block;
}
.alignright {
	float: right;
}
.alignleft {
	float: left;
}
.thread-alt {
	background: rgb(255, 255, 255); margin: 0px; padding: 0px;
}
.thread-even {
	background: rgb(255, 255, 255); margin: 0px; padding: 0px;
}
.depth-1 {
	margin: 0px; padding: 0px; border: 1px solid rgb(255, 255, 255);
}
.even {
	margin: 0px; padding: 0px; border: 1px solid rgb(244, 244, 244); -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
.alt {
	margin: 0px; padding: 0px; border: 1px solid rgb(244, 244, 244); -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
