<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <location path="commonupdater" allowOverride="false">
  <system.webServer>
   <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension" />
   <staticContent>
    <clear />
    <mimeMap fileExtension=".cer" mimeType="application/octet-stream" />
    <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
    <mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
    <mimeMap fileExtension=".exe" mimeType="application/octet-stream" />
    <mimeMap fileExtension=".gem" mimeType="application/octet-stream" />
    <mimeMap fileExtension=".ini" mimeType="text/plain" />
    <mimeMap fileExtension=".json" mimeType="text/plain" />
    <mimeMap fileExtension=".lua" mimeType="application/octet-stream" />
    <mimeMap fileExtension=".mcs" mimeType="application/octet-stream" />
    <mimeMap fileExtension=".msp" mimeType="application/octet-stream" />
    <mimeMap fileExtension=".pdb" mimeType="application/octet-stream" />
    <mimeMap fileExtension=".xml" mimeType="text/xml" />
    <mimeMap fileExtension=".z"   mimeType="application/x-compress" />
    <mimeMap fileExtension=".zip" mimeType="application/x-zip-compress" />
   </staticContent>
  </system.webServer>
 </location>
</configuration>
