<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="true" destination="/rdweb" childOnly="true" />
        <httpRedirect enabled="true" destination="https://site.domain.com/rdweb" exactDestination="true" />
    </system.webServer>
</configuration>
