A {
	COLOR: #039; TEXT-DECORATION: underline
}
BODY {
	FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
TH {
	FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
TR {
	FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
TD {
	FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
TABLE {
	FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
P {
	FONT-SIZE: 0.9em
}
OPTION {
	FONT-SIZE: 0.9em
}
LI {
	FONT-SIZE: 0.9em
}
OL {
	FONT-SIZE: 0.9em
}
UL {
	FONT-SIZE: 0.9em
}
TD {
	FONT-SIZE: 0.9em
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em; MARGIN-BOTTOM: 0.6em; LINE-HEIGHT: 1.3em
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; MARGIN-BOTTOM: 0.4em; LINE-HEIGHT: 1.2em
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN-BOTTOM: 0.2em; LINE-HEIGHT: 1.1em
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 0.85em; MARGIN-BOTTOM: 0.1em; LINE-HEIGHT: 1em
}
IMG.floatright {
	FLOAT: right
}
IMG.margin1 {
	MARGIN: 1px
}
IMG.margin2 {
	MARGIN: 2px
}
IMG.margin4 {
	MARGIN: 4px
}
IMG.margin5r {
	MARGIN-RIGHT: 5px
}
IMG.margin5l {
	MARGIN-LEFT: 5px
}
IMG.margin6 {
	MARGIN: 6px
}
IMG.margin8 {
	MARGIN: 8px
}
IMG.margin10 {
	MARGIN: 10px
}
IMG.margin10r {
	MARGIN-RIGHT: 10px
}
IMG.margin10l {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 5px
}
SPAN.tab1u {
	COLOR: black
}
SPAN.tab2u {
	TEXT-DECORATION: underline
}
SPAN.tab2s {
	TEXT-DECORATION: underline
}
.activitycolor {
	BACKGROUND-COLOR: #e8e887
}
.errorlink {
	MARGIN-TOP: 2px; FONT-WEIGHT: normal; COLOR: #c82727
}
.linktrialversion {
	FONT-WEIGHT: normal; FONT-SIZE: 0.85em; COLOR: #c82727; FONT-STYLE: normal; TEXT-DECORATION: underline
}
.errorhead {
	FONT-WEIGHT: 800; FONT-SIZE: 1.2em; MARGIN-BOTTOM: 0.7em; COLOR: #c82727; LINE-HEIGHT: 1.5em; FONT-STYLE: normal
}
.formcolumnhead1 {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; COLOR: black; TEXT-ALIGN: center
}
.formhead1 {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FONT-WEIGHT: bold; FONT-SIZE: 1em; PADDING-BOTTOM: 0.2em; VERTICAL-ALIGN: middle; COLOR: white; TEXT-INDENT: 0.2em; PADDING-TOP: 0.2em; LETTER-SPACING: 0.05em; BACKGROUND-COLOR: #6b8899; TEXT-ALIGN: left
}
.formhead2 {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; VERTICAL-ALIGN: middle; COLOR: white; TEXT-INDENT: 0.5em; LINE-HEIGHT: 1.1em; LETTER-SPACING: 0.1em; BACKGROUND-COLOR: #6b8899; TEXT-ALIGN: left
}
.menuhead1 {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FONT-WEIGHT: 600; FONT-SIZE: 0.7em; PADDING-BOTTOM: 0.2em; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: uppercase; COLOR: white; LINE-HEIGHT: 1em; PADDING-TOP: 0.2em; LETTER-SPACING: 0.1em; BACKGROUND-COLOR: #6b8899; TEXT-ALIGN: center
}
.formhead1b {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; VERTICAL-ALIGN: middle; COLOR: white; TEXT-INDENT: 0.5em; LINE-HEIGHT: 1.2em; BACKGROUND-COLOR: #6b8899; TEXT-ALIGN: left
}
.formdescriptext {
	FONT-SIZE: 0.8em; MARGIN-LEFT: 1em; COLOR: #355263
}
.formdescriptextml0 {
	FONT-SIZE: 0.8em; COLOR: #355263
}
.head1 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em; MARGIN-BOTTOM: 0.6em; COLOR: black; LINE-HEIGHT: 1.3em
}
.head1a {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em; MARGIN-BOTTOM: 0.6em; MARGIN-LEFT: 1em; COLOR: #663; LINE-HEIGHT: 1.3em
}
.head1b {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em; COLOR: black; LINE-HEIGHT: 1.3em
}
.head1w {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em; COLOR: white; LINE-HEIGHT: 1.3em
}
.head2 {
	MARGIN-TOP: 0.4em; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; MARGIN-BOTTOM: 1.2em; COLOR: black
}
.head2a {
	MARGIN-TOP: 0.4em; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: #663
}
.head2b {
	MARGIN-TOP: 0.4em; FONT-WEIGHT: 600; FONT-SIZE: 1.2em; MARGIN-BOTTOM: 0.4em; COLOR: black; BORDER-BOTTOM: #6c8899 2px solid; LETTER-SPACING: 0.1em
}
.head2tm6 {
	MARGIN-TOP: 0.6em; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: black
}
.head2tm8 {
	MARGIN-TOP: 0.8em; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: black
}
.head2w {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: #fff
}
.head2indent {
	MARGIN-TOP: 0.4em; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; MARGIN-LEFT: 0.5em; COLOR: black
}
.head3 {
	MARGIN-TOP: 0.3em; FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN-BOTTOM: 1em; COLOR: black
}
.head3a {
	MARGIN-TOP: 0.3em; FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #663
}
.head3b {
	MARGIN-TOP: 0.4em; FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN-BOTTOM: 0.4em; COLOR: black; BORDER-BOTTOM: #6c8899 2px solid; LETTER-SPACING: 0.1em
}
.head3d {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: black
}
.head3center {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: black; TEXT-ALIGN: center
}
.head3indent {
	MARGIN-TOP: 0.3em; FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN-LEFT: 1em; COLOR: black
}
.head3tm6 {
	MARGIN-TOP: 0.6em; FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN-BOTTOM: 0.1em; COLOR: black
}
.head3tm8 {
	MARGIN-TOP: 0.8em; FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN-BOTTOM: 0.2em; COLOR: black
}
.head3w {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #fff
}
.head4 {
	MARGIN-TOP: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 0.85em; MARGIN-BOTTOM: 0.2em; COLOR: black
}
.head4center {
	FONT-WEIGHT: bold; FONT-SIZE: 0.85em; COLOR: black; TEXT-ALIGN: center
}
.head4b {
	MARGIN-TOP: 0.2em; FONT-WEIGHT: bold; FONT-SIZE: 0.85em; COLOR: #663
}
.head4tm6 {
	MARGIN-TOP: 0.6em; FONT-WEIGHT: bold; FONT-SIZE: 0.85em; MARGIN-BOTTOM: 0.1em; COLOR: black
}
.head4tm8 {
	MARGIN-TOP: 0.8em; FONT-WEIGHT: bold; FONT-SIZE: 0.85em; MARGIN-BOTTOM: 0.2em; COLOR: black
}
.head4margin4 {
	FONT-WEIGHT: bold; FONT-SIZE: 0.85em; MARGIN: 0.4em; COLOR: black; BACKGROUND-COLOR: #dfddd5
}
.head5 {
	MARGIN-TOP: 0.2em; FONT-WEIGHT: 600; FONT-SIZE: 0.75em; MARGIN-LEFT: 1em; COLOR: black
}
.head5a {
	MARGIN-TOP: 0.2em; FONT-WEIGHT: 600; FONT-SIZE: 0.75em; COLOR: black
}
.head5b {
	MARGIN-TOP: 0.2em; FONT-WEIGHT: 600; FONT-SIZE: 0.75em; MARGIN-LEFT: 1em; COLOR: #663
}
.head5tm6 {
	MARGIN-TOP: 0.6em; FONT-WEIGHT: 600; FONT-SIZE: 0.75em; MARGIN-LEFT: 1em; COLOR: black
}
.head5tm8 {
	MARGIN-TOP: 0.8em; FONT-WEIGHT: 600; FONT-SIZE: 0.75em; MARGIN-LEFT: 1em; COLOR: black
}
.hint1 {
	FONT-SIZE: 12px; COLOR: #663; LINE-HEIGHT: 14px
}
.inactive {
	COLOR: #6c8899
}
.margintop1 {
	MARGIN-TOP: 0.3em
}
.margintop2 {
	MARGIN-TOP: 0.5em
}
.margintop3 {
	MARGIN-TOP: 1em
}
.marginleft1 {
	MARGIN-LEFT: 1em
}
.marginleft1b {
	FONT-SIZE: 0.85em; MARGIN-LEFT: 1em
}
.marginleft2 {
	MARGIN-LEFT: 2em
}
.marginleft3 {
	MARGIN-LEFT: 3em
}
.marginleft4 {
	MARGIN-LEFT: 4em
}
.nonproportional {
	FONT-SIZE: 10pt; FONT-FAMILY: "Courier New", Courier, Monaco
}
.padding8 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.padding2x4 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.padding2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.padding4 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.rowaltcolor {
	BACKGROUND-COLOR: #efeee9
}
.scroll1 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; OVERFLOW: auto; PADDING-TOP: 10px; BACKGROUND-COLOR: #efeee9
}
.ruleblue {
	COLOR: #6c8899
}
.rulebelow {
	PADDING-BOTTOM: 5px; BORDER-BOTTOM: #6c8899 2px solid
}
.rulebelow2 {
	PADDING-BOTTOM: 5px; BORDER-BOTTOM: #663 1px solid
}
.ruleabove {
	BORDER-TOP: #6c8899 2px solid; PADDING-TOP: 5px
}
.smalltext {
	FONT-SIZE: 0.75em; LINE-HEIGHT: 1em
}
.smalltext2a {
	FONT-SIZE: 0.75em; COLOR: #663; LINE-HEIGHT: 1em
}
.smalltext2b {
	FONT-WEIGHT: bold; FONT-SIZE: 0.75em; COLOR: black; LINE-HEIGHT: 1em
}
.smalltext2c {
	FONT-SIZE: 0.75em; WIDTH: 480px; COLOR: #355263; LINE-HEIGHT: 1.1em
}
.smalltext2d {
	FONT-SIZE: 0.75em; COLOR: #355263
}
.mediumtext {
	FONT-SIZE: 0.85em; LINE-HEIGHT: 1.1em
}
.largetext {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; LINE-HEIGHT: 1.1em; FONT-STYLE: normal
}
.textblue1 {
	FONT-SIZE: 0.9em; COLOR: #355263; LINE-HEIGHT: 1.2em
}
.typegold1 {
	FONT-SIZE: 1em; COLOR: #663; LINE-HEIGHT: 1.1em
}
.typegold2 {
	FONT-SIZE: 0.85em; COLOR: #663; LINE-HEIGHT: 1.1em
}
.tablecolumnhead1 {
	FONT-WEIGHT: bold; FONT-SIZE: 0.75em; COLOR: black; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #efeee9
}
.tablecolumnhead1rule {
	CLEAR: both; FONT-WEIGHT: bold; FONT-SIZE: 0.75em; COLOR: #663; BORDER-BOTTOM: #663 1px solid; TEXT-ALIGN: center
}
.tablecolumnhead2 {
	FONT-WEIGHT: 600; FONT-SIZE: 0.75em; COLOR: #663; TEXT-ALIGN: center
}
.tablehead1 {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FONT-WEIGHT: bold; FONT-SIZE: 0.95em; PADDING-BOTTOM: 0.2em; COLOR: white; TEXT-INDENT: 0.2em; PADDING-TOP: 0.2em; BACKGROUND-COLOR: #6b8899; TEXT-ALIGN: left
}
.tablehead2 {
	FONT-WEIGHT: 600; FONT-SIZE: 0.9em; COLOR: black; TEXT-INDENT: 0.5em; LINE-HEIGHT: 1.1em; LETTER-SPACING: 0.1em; BACKGROUND-COLOR: #cc9; TEXT-ALIGN: left
}
.tablehead1b {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; TEXT-INDENT: 0.5em; LINE-HEIGHT: 1.1em; BACKGROUND-COLOR: #cc9; TEXT-ALIGN: left
}
.tablesubhead1 {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FONT-WEIGHT: bold; FONT-SIZE: 0.85em; PADDING-BOTTOM: 0.2em; COLOR: black; TEXT-INDENT: 0.2em; PADDING-TOP: 0.2em; BACKGROUND-COLOR: #efeee9; TEXT-ALIGN: left
}
.tablesubhead3 {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FONT-WEIGHT: 600; FONT-SIZE: 0.75em; PADDING-BOTTOM: 0.2em; COLOR: black; PADDING-TOP: 0.2em; BACKGROUND-COLOR: #dfddd5; TEXT-ALIGN: left
}
.tablesubhead2 {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FONT-WEIGHT: normal; FONT-SIZE: 0.85em; PADDING-BOTTOM: 0.2em; COLOR: black; PADDING-TOP: 0.2em; BACKGROUND-COLOR: #efeee9; TEXT-ALIGN: left
}
.tabb {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt
}
.tabw {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: white
}
.task1 {
	MARGIN-TOP: 0.3em; FONT-SIZE: 0.8em; MARGIN-LEFT: 1.3em
}
.grouphead {
	MARGIN-TOP: 0.7em; FONT-WEIGHT: 600; FONT-SIZE: 0.8em; MARGIN-LEFT: 1.2em; COLOR: #333; LINE-HEIGHT: 0.9em
}
.task1a {
	MARGIN-TOP: 0.3em; FONT-SIZE: 0.8em
}
.task2 {
	MARGIN-TOP: 0.3em; FONT-SIZE: 0.8em; MARGIN-LEFT: 2.3em
}
.task3 {
	MARGIN-TOP: 0.5em; FONT-SIZE: 0.7em; MARGIN-BOTTOM: 0.5em; MARGIN-LEFT: 0.5em; COLOR: #003399; LINE-HEIGHT: 1em; TEXT-DECORATION: none
}
.navhead {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 0.85em; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; COLOR: black; LINE-HEIGHT: 0.9em; PADDING-TOP: 4px; BACKGROUND-COLOR: #cfcdc6
}
.role1 {
	MARGIN-TOP: 0.7em; FONT-WEIGHT: bold; FONT-SIZE: 0.85em; COLOR: black; LINE-HEIGHT: 0.9em; TEXT-DECORATION: none
}
.windowheaddgrey {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #5a5958; LINE-HEIGHT: 18pt; LETTER-SPACING: 1px
}
.windowheadblack {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #5a5958; LINE-HEIGHT: 18pt; LETTER-SPACING: 1px
}
.windowheadwhite {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: white; LINE-HEIGHT: 18pt; LETTER-SPACING: 1px
}
.width350 {
	WIDTH: 350px
}
.width300 {
	WIDTH: 300px
}
.width400 {
	WIDTH: 400px
}
.width450 {
	WIDTH: 450px
}
.width500 {
	WIDTH: 500px
}
.headcapwide {
	FONT-WEIGHT: 600; FONT-SIZE: 0.6em; COLOR: #663; LETTER-SPACING: 0.2em
}
.subtitle1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: black; LINE-HEIGHT: 14px
}
.subtitle2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; LINE-HEIGHT: 14px
}
.headpb {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; VERTICAL-ALIGN: top; COLOR: black; LETTER-SPACING: 2px; TEXT-ALIGN: left
}
.tab1s {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: white; LINE-HEIGHT: 17px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #6b8899; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.tab1u {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: black; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #dfddd5; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.tab2s {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: white; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #6b8899; TEXT-DECORATION: none
}
.tab2u {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: white; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #6b8899; TEXT-DECORATION: none
}
